<form method="post" id="modal-form">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <img src="../resources/pw_show.png"/>

    <button type="submit" class="submitBtn">Login</button>

    <p>Don't have an account? <a href="/register" class="register-link">Register</a></p>

</form>